<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <i class="fa fa-home"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span>
              <i class="fa fa-calendar"></i>
            </span>My Events</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container event-content">
  <div class="event-title">
    <h1>
      <i class="fa fa-calendar"></i> My Events
    </h1>
  </div>
  <div class="container event-page">
    <router-outlet></router-outlet>
  </div>
</div>