<div class="overlay" *ngIf="visible"></div>
<div class="modal-create" *ngIf="visible">
  <div class="event-row event-form" *ngIf="visible">
    <form [formGroup]="eForm" (ngSubmit)="onSubmit(eForm.value)">
      <div class="row">
        <div class="col">
          <div>Name</div>
          <input type="text" formControlName="name" class="form-control" placeholder="Event name">
        </div>
      </div>
      <div class="row">
        <div class="col-12 alert" *ngIf="!eForm.controls['name'].valid && eForm.controls['name'].touched">You must specify a name (max. 50 characters).</div>
      </div>
      <div class="row">
        <div class="col-6">
          <div>From</div>
          <input type="datetime" formControlName="from" class="form-control" readonly>
          <dl-date-time-picker #datetimeFrom minuteStep='15' model='dateFrom'></dl-date-time-picker>
        </div>
        <div class="col-6">
          <div>To</div>
          <input type="datetime" formControlName="to" class="form-control" readonly>
          <dl-date-time-picker #datetimeTo minuteStep='15' model='dateTo'></dl-date-time-picker>
        </div>
      </div>
      <div class="row">
        <div class="col-12 alert" *ngIf="warn">Invalid date interval!</div>
      </div>
      <div class="row">
        <div class="col button-group event-form-actions">
          <input type="submit" class="btn btn-submit" value="Add" [disabled]="!eForm.valid || warn">
          <input type="button" (click)="close()" class="btn btn-danger" value="Cancel">
        </div>
      </div>
    </form>
  </div>
</div>